@model NewsArticleServiceModel

@{
    ViewData["Title"] = "Edit News Article";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_NewsArticleFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}