@model RaceServiceModel

@{
    ViewData["Title"] = "Edit Race";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_RaceFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
